*{
    margin: 0;
    padding: 0;

}
body{
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 12pt;
}
/* ----------- HEADER / NAV ------------------ */
nav{
    height: 7vh;
}
.title{
    font-size: 18pt;
}
nav ul{
    height: 7vh;
} 
nav ul li{
    margin-left: 2vw;
    height: 6vh;
}
/* ----------- MAIN ------------------ */
#today-card{
    margin: 3vh 1vw;
    width: 40vw;   
    /* height: 45vh; */
}
/* ----------- RECIPES ------------------ */
#recipe-card{
    margin-top: 3vh;
    margin-left: 20vw;
    width: 80vw;
    height: 12vh;
}



